@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

@import "custom-bootstrap";

/* navbar customizations */

.navbar {
  &.navbar-dark {
    background: #3A3A51;
  }

  .left {
    display: flex;
    background: #484866;
  }

  .right {
    @media(max-width: 991px) {
      display: none;
    }
  }

  .navbar-brand {
    background: url(https://release.functionize.com/views/images/logo/logo-small.png) no-repeat center;
    text-indent: -9999px;
    height: 100%;
    width: 100px;
    background-size: 32px;
  }

  .navbar-nav {
    .nav-item {

      &.active,
      &:hover {
        background: #465376 0% 0% no-repeat padding-box;
        box-shadow: inset 0em -0.25em #39B6FC;
      }

      .nav-link {
        color: #D7E2FB;
        padding-top: 10px;

        @media (min-width: 992px) {
          padding-right: 1rem;
          padding-left: 1rem;
        }

        .badge {
          transform: translate(0, -10px);
        }
      }

      &.user {
        background: #484866;

        &.active,
        &:hover {
          background: #484866;
          box-shadow: none;
        }
      }
    }
  }
}

.filter {
  padding: 30px 0;
}

/* button customizations */
.btn.pill {
  border-radius: 1.375em;
}

.sidebar {
  order: 0;
  background: #484866;
  border-radius: 0em 0.75em 0em 0em;

  .counts {
    background: #3A3A51;
    padding: 3.125em 0em;
    margin-top: 60px;
    color: #fff;
    text-align: center;
    font-weight: 300;

    .head-title {
      text-align: center;
      font-size: 1.3em;
      letter-spacing: 0em;
      color: #FFFFFF;
      text-transform: uppercase;
    }

    .count {
      display: inline-block;
      border-radius: 20px;
      padding: 10px 20px;
      cursor: pointer;

      &:hover {
        color: white;
        background: #39B6FC;

        .number {
          color: #fff;
        }
      }

      .number {
        letter-spacing: 0em;
        color: #39B6FC;
        opacity: 1;
        text-transform: capitalize;
        font-size: 2em;
      }
    }
  }

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 4rem;
      z-index: 1000;
      height: 100%;
    }

    border-right: 1px solid rgba(0, 0, 0, .1);
  }

  @include media-breakpoint-up(xl) {
    flex: 0 1 320px;
  }

  .nav {
    .nav-item {
      position: relative;

      &.active {
        background: #426F9E 0% 0% no-repeat padding-box;
        box-shadow: inset 0.125em 0em #39B6FC;

        &::after {
          content: "";
          position: absolute;
          height: 0;
          width: 0;
          top: 0;
          right: -2.25em;
          border: 1.25em solid transparent;
          border-left: 1em solid #426F9E;
        }
      }

      &:hover {
        background: #426F9E 0% 0% no-repeat padding-box;
        box-shadow: inset 0.125em 0em #39B6FC;

        .nav-link {
          &::before {
            content: url('data:image/svg+xml; utf8, <svg width=".5em" height=".5em" viewBox="0 0 16 16" class="bi bi-circle-fill" style="fill: rgb(57,182,252);" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8"/></svg>');
          }
        }
      }

      .nav-link {
        padding: 0.625em 0.625em 0.625em 2.5em;
        text-align: left;
        font: 1em/1.1875em Rubik;
        letter-spacing: 0em;
        color: #D7E2FB;
        position: relative;

        &::before {
          content: url('data:image/svg+xml; utf8, <svg width=".5em" height=".5em" viewBox="0 0 16 16" class="bi bi-circle-fill" style="fill: rgb(58,58,81);" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8"/></svg>');
          position: absolute;
          top: calc(50% - 10px);
          left: 15px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  @supports (position: sticky) {
    .sidebar {
      position: sticky;
      top: 4rem;
      z-index: 1000;
      height: calc(100vh - 4rem);
    }
  }
}

@media (min-width: 1200px) {
  .sidebar {
    flex: 0 1 320px;
  }
}

.radius-white {
  background: #fff;
  border-radius: 0.75em;
  padding: 20px;
}

.content-block {
  margin-bottom: 40px;
}

.main {
  display: flex;

  aside {
    min-width: 320px;
    max-width: 320px;
  }

  main {
    width: 100%;
    padding-left: 30px;
  }
}